<div class="templatediv" data-ng-controller="checkBoxDemoController">
	<header>
		<h1>Checkbox Demo</h1>
		<h3>Date Time: {{dt}}</h3>
	</header>
	<div>		
		<div>
			<h4>This is the first group</h4>
		</div>
		<div>
            <dir-check-box interfacetag="blnItem1"></dir-check-box>
            <dir-check-box interfacetag="blnItem2"></dir-check-box>
            <dir-check-box interfacetag="blnItem3"></dir-check-box>
		</div>			
		<div>
			<h4>This is the second group</h4>
		</div>
        <div>
            <dir-check-box interfacetag="blnItem4"></dir-check-box>
            <dir-check-box interfacetag="blnItem5"></dir-check-box>
            <dir-check-box interfacetag="blnItem6"></dir-check-box>
            <dir-check-box interfacetag="blnItem7"></dir-check-box>
            <dir-check-box interfacetag="blnItem8"></dir-check-box>
            <dir-check-box interfacetag="blnItem9"></dir-check-box>
        </div>
		<div>
			<h4>This is the third group</h4>
		</div>
        <div>
            <dir-check-box interfacetag="blnItem10"></dir-check-box>
            <dir-check-box interfacetag="blnItem11"></dir-check-box>
            <dir-check-box interfacetag="blnItem12"></dir-check-box>
            <dir-check-box interfacetag="blnItem13"></dir-check-box>
            <dir-check-box interfacetag="blnItem14"></dir-check-box>
            <dir-check-box interfacetag="blnItem15"></dir-check-box>
        </div>
	</div>
</div>