<div class="templatediv" data-ng-controller="heyController1">	
	<header>
	<p>Current Date/Time: {{dt}}</p>		
	</header>
	<div class="leftdiv">
        <dir-read-out-button caption="Rob Button 16" subscriptionid="rob16" valuetype="String"></dir-read-out-button>
        <dir-read-out-button caption="Rob Button 16" subscriptionid="rob17" valuetype="String"></dir-read-out-button>
	</div>
	<div class="rightdiv">
        <dir-read-out-button caption="Rob Button 18" subscriptionid="rob18" valuetype="String"></dir-read-out-button>
        <dir-read-out-button caption="Rob Button 19" subscriptionid="rob19" valuetype="String"></dir-read-out-button>
	</div>			
		
	<div class="footer">
		<p>Web Socket Raw Data: {{dt}}</p>
		<h2>Some Video HTML5</h2>
		<video width="320" height="240" controls>
			<source type="video/mp4" src="Videos/Minions.mp4">
			Your browser does not support the video tag.
		</video>				
	</div>
</div>