<div class="templatediv" data-ng-controller="heyController4">			
<!--		<p>Current Date/Time: {{dt | date:'medium'}}</p>	-->	
	<p>Current Date/Time: {{dt}}</p>		
	<button>Hey Template 4</button>
	<button>Hey Template 4</button>
	<button>Hey Template 4</button>
	<button>Hey Template 4</button>
	<dir-read-out-button caption="My First Button" smid="hey4rob1"></dir-read-out-button>
	<dir-read-out-button caption="User Time" smid="hey4rob2"></dir-read-out-button>
	<dir-read-out-button caption="Yet More Time !!!" smid="hey4rob1"></dir-read-out-button>
	
	<div class="footer">
		<p>Web Socket Raw Data: {{dt}}</p>
	</div>
</div>