<div class="templatediv" data-ng-controller="heyController1">	
	<header>
        <dir-read-out interfacetag="strServerDateTime"></dir-read-out>
	</header>		
	<div>
		<h2>Some Video HTML5</h2>
		<video width="320" height="240" controls>
			<source type="video/mp4" src="Videos/Minions.mp4">
			Your browser does not support the video tag.
		</video>				
	</div>
    <div>
        <dir-read-out-button caption="Rob Button 16" interfacetag="strItem15"></dir-read-out-button>
        <dir-read-out-button caption="Rob Button 16" interfacetag="strItem14"></dir-read-out-button>
        <dir-read-out-button caption="Rob Button 18" interfacetag="strItem13"></dir-read-out-button>
        <dir-read-out-button caption="Rob Button 19" interfacetag="strItem12"></dir-read-out-button>
    </div>
</div>