<div class="templatediv" data-ng-controller="playerContoller">
	<header>
		<h1>Read Out Button Demo</h1>
		<h3>Date Time: {{dt}}</h3>
	</header>
	<div>		
		<div>
			<p>This is the first section</p>
		</div>			
		<div>
			<dir-read-out-button caption="Nav Button 1" smid="playerControlRob1"></dir-read-out-button>
			<dir-read-out-button caption="Nav Button 2" smid="playerControlRob2"></dir-read-out-button>
			<dir-read-out-button caption="Nav Button 3" smid="playerControlRob3"></dir-read-out-button>
			<dir-read-out-button caption="Nav Button 4" smid="playerControlRob4"></dir-read-out-button>
			<dir-read-out-button caption="Nav Button 5" smid="playerControlRob5"></dir-read-out-button>	
		</div>
		<div>
			<p>This is another section</p>
		</div>
		<div>
			<dir-read-out-button caption="Details Button 1" smid="playerControlRob6"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 2" smid="playerControlRob7"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 3" smid="playerControlRob8"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 4" smid="playerControlRob9"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 5" smid="playerControlRob10"></dir-read-out-button>	
		</div>					
		<div>
			<dir-read-out-button caption="Details Button 1" smid="playerControlRob11"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 2" smid="playerControlRob12"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 3" smid="playerControlRob13"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 4" smid="playerControlRob14"></dir-read-out-button>
			<dir-read-out-button caption="Details Button 5" smid="playerControlRob15"></dir-read-out-button>	
		</div>					
	</div>
</div>