<div class="templatediv" data-ng-controller="playerContoller">
	<header>
		<p>This is the player info screen</p>
	</header>
	<div>		
		<div class="contentX">
			<div>
				<p>This is where the table will be</p>
			</div>			
			<div>
				<dir-read-out-button caption="Nav Button 1"></dir-read-out-button>
				<dir-read-out-button caption="Nav Button 2"></dir-read-out-button>
				<dir-read-out-button caption="Nav Button 3"></dir-read-out-button>
				<dir-read-out-button caption="Nav Button 4"></dir-read-out-button>
				<dir-read-out-button caption="Nav Button 5"></dir-read-out-button>	
			</div>
		</div>
		<div class="contentX">
			<p>This is where the player details will be
			<div>
				<dir-read-out-button caption="Details Button 1"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 2"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 3"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 4"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 5"></dir-read-out-button>	
			</div>					
			<div>
				<dir-read-out-button caption="Details Button 1"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 2"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 3"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 4"></dir-read-out-button>
				<dir-read-out-button caption="Details Button 5"></dir-read-out-button>	
			</div>					
		</content>
	</div>
</div>