<div class="templatediv" data-ng-controller="playerContoller">
	<header>
		<h1>Read Out Button Demo</h1>
		<h3>Date Time: {{dt}}</h3>
	</header>
	<div>		
        <div>
            <p>This is the first section</p>
        </div>
		<div>
			<dir-read-out-button caption="Rob Button 1" subscriptionid="rob1" interfacetag="strItem1" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 2" subscriptionid="rob2" interfacetag="strItem2" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 3" subscriptionid="rob3" interfacetag="strItem3" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 4" subscriptionid="rob4" interfacetag="strItem4" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 5" subscriptionid="rob5" interfacetag="strItem1" valuetype="String"></dir-read-out-button>	
		</div>
		<div>
			<p>This is another section</p>
		</div>
		<div>
			<dir-read-out-button caption="Rob Button 6" subscriptionid="rob6" interfacetag="strItem2" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 6" subscriptionid="rob7" interfacetag="strItem3" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 7" subscriptionid="rob8" interfacetag="strItem4" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 8" subscriptionid="rob9" interfacetag="strItem1" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 9" subscriptionid="rob10" interfacetag="strItem2" valuetype="String"></dir-read-out-button>	
		</div>					
		<div>
			<dir-read-out-button caption="Rob Button 10" subscriptionid="rob11" interfacetag="strItem3" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 11" subscriptionid="rob12" interfacetag="strItem4" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 12" subscriptionid="rob13" interfacetag="strItem1" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 13" subscriptionid="rob14" interfacetag="strItem2" valuetype="String"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 14" subscriptionid="rob15" interfacetag="strItem3" valuetype="String"></dir-read-out-button>	
		</div>					
	</div>
</div>