<div class="templatediv" data-ng-controller="playerControlDemoContoller">
    <div class="wrapperdiv">
        <div class="fullwidthdiv">
            <div class="splitdivleft">
                <div class="divflexcentre">
                    <div class="splitdivleft">
                        <label>Controlled Player</label>
                    </div>
                    <div class="splitdivright">
                        <dir-read-out id="ctrlPlayer" interfacetag="str_STFXVEHCNTRLREG[0]"></dir-read-out>
                    </div>
                    <br style="clear:both;" />
                </div>
                <div class="divflexcentre">
                    <div class="splitdivleft">
                        <label>Navigation Mode</label>
                    </div>
                    <div class="splitdivright">
                        <dir-read-out id="ctrlMode" interfacetag="strServerDateTime"></dir-read-out>
                    </div>
                    <br style="clear:both;" />
                </div>
                <br style="clear:both;" />
            </div>
            <div class="splitdivright">
                <div class="divflexcentre">
                    <dir-read-out-button caption="Straight & Level" interfacetag="bln_PTFXVEHCNTRLSANDL[0]" actiontype="toggle"></dir-read-out-button>
                </div>
            </div>
            <br style="clear:both;" />
        </div>

        <div class="fullwidthdiv">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divflexend">
                        <label style="margin-right:30px;">Demanded</label>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <label style="margin-left:10px;">Current</label>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>

        <div class="fullwidthdiv">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divflexend">
                        <dir-read-out-button caption="Heading" interfacetag="sng_RTFXVEHHDNGDMD[0]" actiontype="insertConstant" , formattype: 'none', formatstring: 'none', formatunitssource: 'user', formatunitsuffix: 'none'></dir-read-out-button>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <dir-read-out interfacetag="sng_RTFXVEHHEADING[0]"></dir-read-out>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>

        <div class="fullwidthdiv">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divflexend">
                        <dir-read-out-button caption="IAS" interfacetag="sng_RTFXVEHSPEEDDMD[0]" actiontype="insertConstant"></dir-read-out-button>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <dir-read-out interfacetag=" sng_RTFXVEHSPEED[0]"></dir-read-out>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>

        <div class="fullwidthdiv">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divflexend">
                        <dir-read-out-button caption="Height AMSL" interfacetag="sng_RTFXVEHALTDMD[0]" actiontype="insertConstant"></dir-read-out-button>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <dir-read-out interfacetag="sng_RTFXVEHALT[0]"></dir-read-out>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>

        <div class="fullwidthdiv">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divflexend">
                        <dir-read-out-button caption="Height AGL" interfacetag="sng_RTFXVEHAGLDMD[0]" actiontype="insertConstant"></dir-read-out-button>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <dir-read-out interfacetag="sng_RTFXVEHAGL[0]"></dir-read-out>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>

        <div class="fullwidthdiv">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divflexend">
                        <dir-read-out-button caption="Flight Level" interfacetag="lng_KTFXVEHFLDMD[0]" actiontype="insertConstant"></dir-read-out-button>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <dir-read-out interfacetag="lng_KTFXVEHFL[0]"></dir-read-out>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>

        <div class="fullwidthdiv" style="margin-top:30px;">
            <div class="divflexcentre">
                <span class="lblspan">G-Turn</span>
            </div>
        </div>

        <div class="fullwidthdiv" style="margin-top:30px;">
            <div class="divflexcentre">
                <div class="splitdivleft">
                    <div class="divrightmiddle">
                            <dir-read-out-button caption="Value" interfacetag="sng_RTFXVEHGTURNDMD[TPOS]" actiontype="insertConstant"></dir-read-out-button>
                            <dir-read-out-button caption="Direction" interfacetag="lng_KTFXVEHGTURNDIRLIST[TPOS]" actiontype="insertConstant"></dir-read-out-button>
                    </div>
                </div>
                <div class="splitdivright">
                    <div class="divflexstart">
                        <dir-read-out-button caption="Hold" interfacetag="bln_PTFXVEHCNTRLGTURNDE[0]" actiontype="toggle"></dir-read-out-button>
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>
    </div>
</div>
