<div class="templatediv" data-ng-controller="readOutButtonDemoContoller">
	<header>
		<h1>Read Out Button Demo</h1>
        <dir-read-out interfacetag="strServerDateTime"></dir-read-out>
	</header>
	<div>		
        <div>
            <p>This is the first section</p>
        </div>
		<div>
			<dir-read-out-button caption="Rob Button 1" interfacetag="strItem1" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 2" interfacetag="strItem2" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Freeze" interfacetag="blnItem5" actiontype="toggle"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 4" interfacetag="strItem4" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 5" interfacetag="strItem5" actiontype="insertConstant"></dir-read-out-button>	
		</div>
		<div>
			<p>This is another section</p>
		</div>
		<div>
			<dir-read-out-button caption="Rob Button 6" interfacetag="strItem6" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 6" interfacetag="strItem7" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 7" interfacetag="strItem8" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 8" interfacetag="strItem9" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 9" interfacetag="strItem10" actiontype="insertConstant"></dir-read-out-button>	
		</div>					
		<div>
			<dir-read-out-button caption="Rob Button 10" interfacetag="strItem11" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 11" interfacetag="strItem12" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 12" interfacetag="strItem13" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 13" interfacetag="strItem14" actiontype="insertConstant"></dir-read-out-button>
			<dir-read-out-button caption="Rob Button 14" interfacetag="strItem15" actiontype="insertConstant"></dir-read-out-button>	
		</div>					
	</div>
</div>