# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/ContextProperty.exe
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/ContextProperty.exe_manifest.rc
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/ContextProperty.exe_manifest.res
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/contextproperty.pdb
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/main.obj
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/ContextProperty.exe.embed.manifest
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/ContextProperty.ilk
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/moc_mytimer.cpp
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/moc_mytimer.obj
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/moc_xcppxbutton.cpp
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/mytimer.obj
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/moc_xcppxbutton.obj
QtClient/build-ContextProperty-Desktop_Qt_5_5_0_MSVC2010_32bit-Debug/debug/qrc_qml.obj
*.obj
Server/build-GoldenServer-Desktop_Qt_5_5_0_MSVC2012_32bit-Debug/debug/configmanager.obj
*.obj
Server/build-GoldenServer-Desktop_Qt_5_5_0_MSVC2012_32bit-Debug/debug/GoldenServer.exe
*.exe
Server/build-GoldenServer-Desktop_Qt_5_5_0_MSVC2012_32bit-Debug/debug/GoldenServer.ilk
*.obj
Server/build-GoldenServer-Desktop_Qt_5_5_0_MSVC2012_32bit-Debug/debug/goldenserver.pdb
*.obj
*.obj
Server/build-GoldenServer-Desktop_Qt_5_5_0_MSVC2012_32bit-Debug/debug/configmanager.obj
*.pdb
