.contentX {
    width:50%;
	margin: 0 auto;
    padding:10px;
    display:table-cell;
    vertical-align:top;
}

body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;	
	-o-user-select: none;
	
	overflow: hidden;
}

p {
	color: white;
    font-family: 'Segoe UI';
    font-size: 18px;
}

.divroot{
	width: 100%;
	height: 100%;	
}

.navdiv {
	padding: 1em;
	background-color: Black;
	height: 100px;
}

#gldiv{
	width: 100%;
	top: 100px;
	left: 0;
	bottom: 0;
	height: calc(100vh - 50px);
}

.templatediv {
	margin: 1em;
	overflow-x: auto;
	overflow-y: auto;
}

.lm_content::-webkit-scrollbar {
    width: 1.2em;
}
 
.lm_content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgb(72, 71, 71);
    border-radius: 0px;
}
 
.lm_content::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 30px rgb(128, 128, 128);
  border-radius: 0px;
}

.templatetabdiv {
	margin: 1em;
	overflow-x: auto;
	overflow-y: auto;
    height: 100%;
}

.navdivbuttons{
	vertical-align: middle;
	float: left;	
}

.navdivstatus{
	vertical-align: middle;
	float: right;	
}

.albl {
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;	
	color: #946F23;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	text-anchor: end;
}

.albltrue {
	color: green;
}

.alblfalse {
	color: red;
}

Button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, #354563 5%, #476e9e 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);*/
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius: 5px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color: #DDDDDD;
	font-family:Arial;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration:none;
	margin: 2px;
	text-shadow:0px 1px 0px #283966;
}
Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background: linear-gradient(to bottom, #4249B1 5%, #7892c2 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);*/
	background-color:#476e9e;
}

.leftdiv {
	margin:1px;
	padding:1px;
	float: left;
}

.rightdiv {
	margin:1px;
	padding: 1px;
	float: right;
}

.footer {
	clear: both;
}

video {
	width: 100%;
	height: auto;
}

.centrediv {
	display: inline-block;
	margin: 0 auto;
}

h1 {
	color:orange;
}

h2 {
	color:orange;
}

h3 {
	color:orange
}

h4 {
	color:orange;
}

label {
   	color: white;
   	font-family: 'Segoe UI';
   	font-size: 18px;
   	font-weight:400;
   	margin: 0;
   	align-content: flex-end;
   	float: right;
}

.lblspan{
   	color: white;
   	font-family: 'Segoe UI';
   	font-size: 18px;
    font-weight:400;
}

.wrapperdiv{
    margin: 0 auto;
    overflow:hidden;
}

.innerdiv{
    margin: 0 auto;
}

.splitdivleft{
    float:left;
    width:49%;
    align-self:center;
}

.splitdivright {
    float:right;
    width:49%;
    align-self:center;
}

.fullwidthdiv{
    margin:0px auto;
    width:100%;
}

.divflexcentre{
    display:flex;
    justify-content:center;
}

.divflexend{
    display:flex;
    justify-content:flex-end;
}

.divflexstart{
    display:flex;
    justify-content:flex-start;
    margin-left: 10px;
}

.divrightmiddle {
    float: right;
}

.divleftmiddle {
    float:left;
}

.divlefttext {
    text-align:start;
}

.lblinline{
    float:right;
    text-align: end;
}

.lblinlinealignleft{
    float:left;
    text-align: start;
}

.buttoninline{
    display:inline-block;
}

.valinline{
    width:100%;
}

.splitdivtop {
    margin-top:0;
    margin-bottom:50%;
    margin-left:0;
    margin-right:0;   
}

.splitdivtop::after{
    clear:both;
}

.splitdivbottom {
    margin-top: 50%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.splitdivbottom::after{
    clear:both;
}

.divcentre {
    /* margin: 0 auto; */
    text-align:center;
}

.divtextmargintop{
    margin-top:10px;
}




/*
.examplesResizerDemos{
    background-color: white;
    margin:0 auto;
}

.resizerDemo-handler {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    padding: 0 1px;
    background-color: gray;
    cursor: ew-resize;
    line-height: 5px;
    font-size: 14px;
}

.resizerDemo-handler:before {
    content: '� � �';
    color: white;
    width: 5px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.example-2 {
    border: 1px solid silver;
    margin: 25px;
    background-color: #eee;
}

.example-2-first,
.example-2-second {
    background-color: black;
    color: white;
    padding: 2px;
    width: 45%;
    margin: 5px;
    float: left;
}

.example-2-second {
    float: right;
}

.example-2-box {
    background-color: gray;
    color: white;
    margin: 5px;
    padding: 2px;
}

.example-2[max-width~="300px"] .example-2-first,
.example-2[max-width~="300px"] .example-2-second {
    float: none;
    background-color: #4186ff;
    width: auto;
}

.example-2[max-width~="350px"] .example-2-box {
    background-color: #ba9196;
}

.example-2[max-width~="300px"] .example-2-box {
    background-color: #ba6377;
}

.example-2[max-width~="200px"] .example-2-box {
    background-color: #ba4349;
}

.example-2[max-width~="100px"] .example-2-box {
    background-color: #ba000d;
}
*/