.contentX {
    width:50%;
	margin: 0 auto;
    padding:10px;
    display:table-cell;
    vertical-align:top;
}

body{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;	
	-o-user-select: none;
	
	overflow: hidden;
}

.robOuter {
	display: inline-block;
	padding: 3px;
	border-radius: 10px;
	margin: 5px;
	width: 100%;
	height:100%;
	background:-moz-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background:-webkit-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background:-o-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background:-ms-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background: linear-gradient(to bottom, #354563 100%, #476e9e 5%);
}

.robInner-robGiIdle {
	padding: 3px;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, #374969 5%, #476e9e 100%);
}

.robInner-robDisconnected {
	padding: 3px;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, grey 5%, grey 100%);
}

.robInner-robGiDataAck {
	padding: 3px;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, green 5%, green 100%);
}

.robInner-robGiAck {
	padding: 3px;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, yellow 5%, yellow 100%);
}

.robInner-robUiTx {
	padding: 3px;
	border-radius: 8px;
	width: 100%;
	height: 100%;
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, orangered 5%, orangered 100%);
}

.robCentre {
	margin: 5% 0% 5% 0%;
}

.robCaption {
	line-height: 20px;
	margin: 0 auto;
	padding: 3px;
	color: #FFFFFF;
	font-family: serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.robValue {
	line-height: 20px;
	margin: 0 auto;
	padding: 3px;
	color: #2FEC2F;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

p {
	color: orange;
}

.divroot{
	width: 100%;
	height: 100%;	
}

.navdiv {
	padding: 1em;
	background-color: Black;
	height: 100px;
}

#gldiv{
	width: 100%;
	top: 100px;
	left: 0;
	bottom: 0;
	height: calc(100vh - 50px);
}

.templatediv {
	margin: 1em;
	overflow-x: auto;
	overflow-y: auto;
}


.navdivbuttons{
	vertical-align: middle;
	float: left;	
}

.navdivstatus{
	vertical-align: middle;
	float: right;	
}

.albl {
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;	
	color: #946F23;
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	text-anchor: end;
}

.albltrue {
	color: green;
}

.alblfalse {
	color: red;
}

Button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, #354563 5%, #476e9e 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);*/
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius: 5px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color: #DDDDDD;
	font-family:Arial;
	font-size: 14px;
	padding: 5px 10px;
	text-decoration:none;
	margin: 2px;
	text-shadow:0px 1px 0px #283966;
}
Button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background: linear-gradient(to bottom, #4249B1 5%, #7892c2 100%);
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);*/
	background-color:#476e9e;
}

.leftdiv {
	margin:1px;
	padding:1px;
	float: left;
}

.rightdiv {
	margin:1px;
	padding: 1px;
	float: right;
}

.footer {
	clear: both;
}

video {
	width: 100%;
	height: auto;
}

.centrediv {
	display: inline-block;
	margin: 0 auto;
}

h2 {
	color:orange;
}

h3 {
	color:orange
}