<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Golden Demo</title>		

		<link type="text/css" rel="stylesheet" href="Third-Party/bootstrap-3.3.5-dist/css/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" href="Third-Party/GoldenLayout/css/goldenlayout-base.css"/>
		<link type="text/css" rel="stylesheet" href="Third-Party/GoldenLayout/css/goldenlayout-dark-theme.css"/>		
		<link type="text/css" rel="stylesheet" href="Third-Party/ngPopup-0.4.0/dist/ngPopup.css"/>
		<link type="text/css" rel="stylesheet" href="CtrlAssets/css/SMCheckBox.css"/>
        <link type="text/css" rel="stylesheet" href="CtrlAssets/css/SMReadOut.css" />
		<link type="text/css" rel="stylesheet" href="defaults.css"/>
		

		<!-- For smaller screens -->
		
		<link rel="stylesheet" media="handheld, only screen and (max-width: 800px)" href="Third-Party/GoldenLayout/css/Mobile/goldenlayout-base-mobile.css"/>
		<link rel="stylesheet" media="handheld, only screen and (max-width: 800px)" href="Third-Party/GoldenLayout/css/Mobile/goldenlayout-dark-theme-mobile.css"/>		

	</head>
	<body data-ng-app="heyApp">			
		<div class="divroot" data-ng-controller="heyControllerRoot">			
			<nav class="navbar navbar-default navbar-inverse">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Golden Demo</a>
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-ng-controller="heyControllerNav">
						<ul class="nav navbar-nav">
							<li><a ng-click="addNewTemplate1()" role="button">Video Demo</a></li>
							<li><a nohref ng-click="addNewTemplate2()" role="button">General Demo</a></li>
							<li><a nohref ng-click="addNewPlayerTemplate()" role="button">Readout Button Demo</a><li>
							<li><a nohref ng-click="addNewCheckBoxDemoTemplate()" role="button">CheckBox Demo</a><li>
						</ul>	
						<ul class="nav navbar-nav navbar-right">
							<li><a nohref ng-class="navbar-text {'albl': true, 'albltrue': connected == true, 'alblfalse': connected == false}">{{commsmessage}}</a><li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>	
		
<!--			<div class="navdiv" data-ng-controller="heyControllerNav">
					<button ng-click="addNewTemplate1()">Add 1</button>
					<button ng-click="addNewTemplate2()">Add 2</button>
					<button ng-click="addNewTemplate3()">Add 3</button>
					<button ng-click="addNewTemplate4()">Add 4</button>
					<button ng-click="addNewPlayerTemplate()">Add Player</button>
					<span ng-class="{'albl': true, 'albltrue': connected == true, 'alblfalse': connected == false}">{{commsmessage}}</span>
			</div>-->
			<div id="gldiv" data-ng-controller="heyControllerGldiv">
				<!-- Golden Layout goes here -->
			</div>
			<!-- This is where the templates are placed -->
		</div>

		<!-- Include modules and js stuff -->
		<script type="text/javascript" src="Third-Party/jquery/jquery-1.11.3.js"></script>
		<script type="text/javascript" src="Third-Party/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="Third-Party/GoldenLayout/js/goldenlayout.js"></script>
		<script type="text/javascript" src="Third-Party/angular-1.4.x-dist/angular.min.js"></script>
		<script type="text/javascript" src="Third-Party/ngPopup-0.4.0/dist/ngPopup.js"></script>
		<script type="text/javascript" src="Third-Party/xmlToJSON-1.3.1/lib/xmlToJSON.js"></script>
		<script type="text/javascript" src="services.js"></script>
		<script type="text/javascript" src="directives.js"></script>
		<script type="text/javascript" src="app.js"></script>

	</body>	
</html>