<!DOCTYPE html>
<html lang="en">
	<head>

        <!-- Standard head -->

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- No Caching -->

        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />

        <!-- start of main markup -->

		<title>Golden Demo</title>		

        <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/mootools/1.5.0/mootools-core-full-nocompat.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mootools-more/1.5.0/mootools-more-yui-compressed.min.js"></script>-->

		<link type="text/css" rel="stylesheet" href="Third-Party/bootstrap-3.3.5-dist/css/bootstrap.css"/>
		<link type="text/css" rel="stylesheet" href="Third-Party/GoldenLayout/css/goldenlayout-base.css"/>
		<link type="text/css" rel="stylesheet" href="Third-Party/GoldenLayout/css/goldenlayout-dark-theme.css"/>		
		<link type="text/css" rel="stylesheet" href="Third-Party/ngPopup-0.4.0/dist/ngPopup.css"/>
        <link type="text/css" rel="stylesheet" href="Third-Party/ui-grid.info-3.0.6/release/ui-grid-stable.css" />

        <link type="text/css" rel="stylesheet" href="CtrlAssets/css/SMModalBasic.css" />

        <link type="text/css" rel="stylesheet" href="CtrlAssets/SMTable/SMTable.css" />
        <link type="text/css" rel="stylesheet" href="CtrlAssets/SMReadOutButton/SMReadOutButton.css" />
        <link type="text/css" rel="stylesheet" href="CtrlAssets/SMReadOut/SMReadOut.css" />
        <link type="text/css" rel="stylesheet" href="CtrlAssets/SMCheckBox/SMCheckBox.css" />

        <link type="text/css" rel="stylesheet" href="defaults.css"/>		

		<!-- For smaller screens -->
		
		<link rel="stylesheet" media="handheld, only screen and (max-width: 800px)" href="Third-Party/GoldenLayout/css/Mobile/goldenlayout-base-mobile.css"/>
		<link rel="stylesheet" media="handheld, only screen and (max-width: 800px)" href="Third-Party/GoldenLayout/css/Mobile/goldenlayout-dark-theme-mobile.css"/>		

	</head>
	<body data-ng-app="demoApp">			
		<div class="divroot" data-ng-controller="rootController">			
			<nav class="navbar navbar-default navbar-inverse">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Golden Demo</a>
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-ng-controller="heyControllerNav">
						<ul class="nav navbar-nav">
							<li><a ng-click="addNewVideoDemoTemplate()" role="button">Video Demo</a></li>
							<li><a nohref ng-click="addNewTableDemoTemplate()" role="button">Table Demo</a></li>
							<li><a nohref ng-click="addNewReadOutButtonDemoTemplate()" role="button">Readout Button Demo</a><li>
							<li><a nohref ng-click="addNewCheckBoxDemoTemplate()" role="button">CheckBox Demo</a><li>
							<li><a nohref ng-click="addNewPlayerControlDemoTemplate()" role="button">Player Control Demo</a><li>
						</ul>	
						<ul class="nav navbar-nav navbar-right">
							<li><a nohref ng-class="navbar-text {'albl': true, 'albltrue': connected == true, 'alblfalse': connected == false}">{{commsmessage}}</a><li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>	
			<div id="gldiv" data-ng-controller="glDivController">
				<!-- Golden Layout goes here -->
			</div>
			<!-- This is where the templates are placed -->
		</div>

		<!-- Include modules and js stuff -->
		<script type="text/javascript" src="Third-Party/jquery/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="Third-Party/angular-1.4.x-dist/angular.min.js"></script>
        <script type="text/javascript" src="Third-Party/angular-1.4.x-dist/angular-animate.js"></script>
		<script type="text/javascript" src="Third-Party/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="Third-Party/GoldenLayout/js/goldenlayout.js"></script>
		<script type="text/javascript" src="Third-Party/ngPopup-0.4.0/dist/ngPopup.js"></script>
		<script type="text/javascript" src="Third-Party/xmlToJSON-1.3.1/lib/xmlToJSON.js"></script>
        <script type="text/javascript" src="Third-Party/UI-Bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
        <script type="text/javascript" src="Third-Party/ui-grid.info-3.0.6/release/ui-grid-stable.js"></script>
<!--        <script type="text/javascript" src="Third-Party/css-element-queries-0.3.0/src/ElementQueries.js"></script>
        <script type="text/javascript" src="Third-Party/css-element-queries-0.3.0/src/ResizeSensor.js"></script>-->

		<script type="text/javascript" src="services.js"></script>
        <script type="text/javascript" src="CtrlAssets/SMTable/SMTable.js"></script>
        <script type="text/javascript" src="CtrlAssets/SMReadOutButton/SMReadOutButton.js"></script>
        <script type="text/javascript" src="CtrlAssets/SMReadOut/SMReadOut.js"></script>
        <script type="text/javascript" src="CtrlAssets/SMCheckBox/SMCheckBox.js"></script>

<!--		<script type="text/javascript" src="elementQueriesScript.js"></script>-->

        <script type="text/javascript" src="app.js"></script>
	</body>	
</html>