/* dirReadOut */
.smrodiv {	
	display: inline-flex;
	width: auto;
	height: auto;
	margin: 10px;
	position: relative;
}

.smroIdle {
    color: green;
    margin: 0px;
    font-size: 18px;
}

.smroError {
    color: red;
    margin: 0px;
    font-size: 18px;
}

.smroDisabled {
    color: gray;
    margin: 0px;
    font-size: 18px;
}

.smrodiv > p {
    margin: 0px;
}