.robOuter {
    cursor: pointer;
	display: inline-flex;
	padding: 3px;
	border-radius: 6px;
	margin: 5px;
	width: 145px;
	height:75px;
	background:	-moz-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background:	-webkit-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background:	-o-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background: -ms-linear-gradient(top, #7892c2 100%, #476e9e 5%);
	background: linear-gradient(to bottom, #354563 100%, #476e9e 5%);
}

.robInnerBase
{
    cursor: pointer;
	padding: 3px;
	border-radius: 4px;
	width: 100%;
	height: 100%;
}

.robIdle {
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, #374969 5%, #476e9e 100%);
}

.robDisabled {
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, grey 5%, grey 100%);
}

.robGreen {
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, green 5%, green 100%);
}

.robYellow {
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, yellow 5%, yellow 100%);
}

.robOrange {
	background:	-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, orange 5%, orange 100%);
}

.robRed {
	background:	-moz-linear-gradient(top, #9C0101 5%, #476e9e 100%);
	background:	-webkit-linear-gradient(top, #9C0101 5%, #476e9e 100%);
	background:	-o-linear-gradient(top, #9C0101 5%, #476e9e 100%);
	background:	-ms-linear-gradient(top, #9C0101 5%, #476e9e 100%);
	background: linear-gradient(to bottom, #520101 5%, #520101 100%);
}

.robCentre {
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.robCaption {
    cursor: pointer;
	line-height: 15px;
	margin: 0 auto;
	padding: 3px;
	color: #FFFFFF;
	font-family:'Segoe UI';
	font-size: 18px;
	text-align: center;
}

.robValue {
    cursor: pointer;
	line-height: 15px;
	margin: 0 auto;
	padding: 3px;
	color: #2FEC2F;
    font-family:'Segoe UI';
	font-size: 18px;
	text-align: center;
}
